/library/__pycache__/NumpyToJson.cpython-38.pyc
/library/.ipynb_checkpoints/NumpyToJson-checkpoint.py
/.ipynb_checkpoints/salida-checkpoint.json
/.ipynb_checkpoints/example-checkpoint.ipynb
/salida.json
